{% extends 'base.html' %}
{% block content %}
<h1>{{ 'Editar' if post else 'Nuevo' }} post</h1>
<form method="POST">
    <input type="text" name="titulo" placeholder="Título" value="{{ post.titulo if post else '' }}" required><br>
    <textarea name="contenido" required>{{ post.contenido if post else '' }}</textarea><br>
    <input type="text" name="imagen" placeholder="URL imagen" value="{{ post.imagen if post else '' }}"><br>
    <input type="checkbox" name="comentarios_activos" {{ 'checked' if not post or post.comentarios_activos }}> Comentarios activos<br>
    <button type="submit">Guardar</button>
</form>
{% endblock %}